include ../common.blocks/input-container/input-container
include ../common.blocks/h3/h3
include ../common.blocks/checkbox/checkbox
include ../common.blocks/radio/radio
include ../common.blocks/toggle/toggle
include ../common.blocks/like-button/like-button
include ../common.blocks/rate-button/rate-button
include ../common.blocks/button/button
include ../common.blocks/link/link
include ../common.blocks/pagination/pagination
include ../common.blocks/expandable-list/expandable-list
include ../common.blocks/rich-checkbox/rich-checkbox
include ../common.blocks/bullet-list/bullet-list
include ../common.blocks/info-box/info-box
include ../common.blocks/comment/comment

doctype html
html(lang="")
    head
        link(rel="stylesheet", href="index.css")
    body
        div(class="logo")
        main(class="form-elements")
            section
                +input-container({header: 'Text Field', caption: 'Default'})(type="email" placeholder="Email")
                +input-container({header: 'Text Field', caption: 'Hover / Focus'})(
                    autofocus="true"
                    value="This is pretty awesome"
                    type="text"
                    placeholder="Email"
                    )
                +input-container({header: 'Dropdown', caption: 'Default',
                    isCustom: true,
                    customValues: [
                        'Option 1',
                        'Option 2',
                        'Option 3'

                    ]})(
                    class="select"
                    data-placeholder="Сколько людей"
                    )
                +input-container({header: 'Masked text field', caption: 'Default'})(class="input-date" placeholder="ДД.ММ.ГГГГ")

                div(class="puts-container")
                    +input-container({header: 'Date Dropdown',
                        isCustom: true,
                        customValues: [
                            '01.02.2019',
                            '02.02.2019',
                            '03.02.2019'
                        ]
                    })(
                        class="select"
                        data-placeholder="ДД.ММ.ГГГГ"
                        )

                    +input-container({
                        header: 'Date Dropdown',
                        isCustom: true,
                        customValues: [
                            '01.02.2019',
                            '02.02.2019',
                            '03.02.2019'
                        ]
                    })(
                        class="select"
                        data-placeholder="ДД.ММ.ГГГГ"
                    )
                +input-container({
                    header: 'filter date dropdown',
                    isCustom: true,
                    customValues: [
                        '19 авг - 23 авг',
                        '19 авг - 23 авг',
                        '19 авг - 23 авг'
                    ]
                })(
                    class="select"
                    data-placeholder="ДД.ММ.ГГГГ"
                )

                +input-container({header: 'subscription text field', isButton: true})(
                    type="email"
                    placeholder="Email"
                )

            section
                +h3({value: 'Checkbox Buttons', isDark: true})
                +checkbox({value: 'Можно курить', id: 'id1'})
                +checkbox({value: 'Можно с питомцами', id: 'id2', isChecked: true})
                +checkbox({value: 'Можно пригласить гостей (до 10 человек)', id: 'id3', isChecked: true})

                +h3({value: 'Radio Buttons', isDark: true})
                div(class="two-child-container")
                    +radio({value: 'Мужчина', id: 'g1'})(name='g' checked)
                    +radio({value: 'Женщина', id: 'g2'})(name='g')

                +h3({value: 'Toggle', isDark: true}) Toggle
                +toggle({value: 'Получать спецпредложения', id: 'tg1'})(checked)
                +toggle({value: 'Получать спецпредложения', id: 'tg2'})

                +h3({value: 'Like button', isDark: true})
                div(class="two-child-container")
                    +like-button({value: 1, id: 'like1'})(data-likes=1)
                    +like-button({value: 11, id: 'like2'})(data-likes=11 checked)

                +h3({value: 'Rate button', isDark: true})
                div(class="two-child-container")
                    +rate-button({id: 4})
                    +rate-button({id: 5})
            section
                +input-container({header: 'Range slider', caption: '5000 - 10000Р',
                    isCustom: true
                })(class='range-slider')

                +h3({value: 'buttons', isDark: true})
                div(class="two-child-container")
                    +button('button')
                    +button('button')
                div(class="two-child-container")
                    +button('button')(class="button--empty")
                    +button('button')(class="button--empty")
                div(class="two-child-container")
                    +link('click me')
                    +link('click me')(href="#")
                +button('перейти к оплате')(class="button--submit")
                +h3({value: 'pagination', isDark: true})
                +pagination('1 – 12 из 100+ вариантов аренды')(data-max=100 data-current=1)

            section
                +input-container({header: 'Dropdown', caption: 'Default',
                    isCustom: true,
                    customValues: [
                        'Спальни',
                        'Кровати',
                        'Ванные'
                    ],
                    customQuantity: [
                        2, 2
                    ],
                    isApply: true,
                    isClear: true
                })(class="select" data-isrich="true")

                +input-container({header: 'Dropdown', caption: 'Expanded',
                    isCustom: true,
                    customValues: [
                        'Спальни',
                        'Кровати',
                        'Ванные'
                    ],
                    customQuantity: [
                        2, 2
                    ],
                    isApply: true,
                    isClear: true
                })(class="select" data-isrich="true" data-expanded="true")


            section
                +input-container({
                    header: 'Dropdown',
                    isCustom: true,
                    customValues: [
                        'Взрослые',
                        'Дети',
                        'Младенцы'
                    ],
                    isApply: true
                })(class="select" data-placeholder="Сколько гостей" data-selected=0 data-expanded="true" data-isrich="true" data-istotal="true" data-total-val="Гостя")

            section
                +input-container({
                    header: 'Dropdown',
                    isCustom: true,
                    customValues: [
                        'Взрослые',
                        'Дети',
                        'Младенцы'
                    ],
                    customQuantity: [
                        2, 1
                    ],
                    isApply: true,
                    isClear: true
                })(class="select" data-placeholder="Сколько гостей" data-selected=0 data-expanded="true" data-isrich="true" data-istotal="true" data-total-val="Гостя")

            section
                +expandable-list('expandable checkbox list', [
                    {value: 'Завтрак', id: 'brek1'},
                    {value: 'Завтрак 2', id: 'brek2', isChecked: true},
                    {value: 'Завтрак 3', id: 'brek3'}
                ])

                +expandable-list('expandable checkbox list', [
                    {value: 'Завтрак', id: 'brek1'},
                    {value: 'Письменный стол', id: 'brek2', isChecked: true},
                    {value: 'Стул для кормления', id: 'brek2', isChecked: true},
                    {value: 'Кроватка', id: 'brek2', isChecked: true},
                    {value: 'Телевизор', id: 'brek2'},
                    {value: 'Шампунь', id: 'brek2'},
                    {value: 'Телевизор', id: 'brek2'},
                    {value: 'Шампунь', id: 'brek2'},
                ])(data-expanded="true")

            section
                +h3({value: 'rich Checkbox Buttons', isDark: true})

                +rich-checkbox({id: 'rich1', value: 'Широкий коридор', caption: 'Ширина коридоров в номере не менее 91 см.'})
                +rich-checkbox({id: 'rich2',value: 'Помощник для инвалидов', caption: 'На 1 этаже вас встретит специалист  и проводит до номера.'})

            section
                +h3({value: 'bullet list', isDark: true})
                +bullet-list([
                    'Нельзя с питомцами',
                    'Без вечеринок и мероприятий',
                    'Время прибытия — после 13:00, а выезд до 12:00'
                ])
            section
                +info-box({header: 'Комфорт', caption: 'Шумопоглощающие стены', imagePath: './images/smile.svg'})
                +info-box({header: 'Удобство', caption: 'Окно в каждой из спален', imagePath: './images/building.svg'})

            section(class="special-for-comment")
                +comment({
                    name: 'Мурад Сарафанов',
                    avatarPath: './images/avatar.png',
                    time: '5 дней назад',
                    likes: 11,
                    checked: true,
                    message: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
                })
            section
        script(src="bundle.js")