include ../like-button/like-button

mixin comment(options)
    div(class="comment")
        div(class="comment__avatar")
            img(src=options.avatarPath)
        div(class="comment__header")
            span(class="comment__title")= options.name
            span(class="comment__date")= options.time
        div(class="comment__like")
            +like-button({value: options.likes, id: options.id || ''})(data-likes=options.likes checked=options.checked)
        p(class="comment__paragraph")= options.message